{% extends 'base.html' %}

{% block title %}Group Detail{% endblock %}

{% block content %}
<br>
    <div class="row">
      <div class="col-3">
        {% include 'snippets/left-menu.html' %}
      </div>
      <div class="col-6">
        <div class="card p-2">
            <h2>Welcome to the Fashion Group Chat</h2><br>
            <p>In This group, we will discuss everything that partains to Fashions.
               Everybody will be allowed to have his/her opinoins. Click the button below to start discussions.
              </p>
              <button type="button" class="btn btn-primary w-25">Start</button>
        </div>
        <br>
        <br>
        <br>
        <div class="chat-panel">
          <div class="card p-1" style="border-bottom-left-radius: 0px; border-top-right-radius: 0px; border-bottom: 1px solid black;">
            <div class="d-flex justify-content-between align-items-center">
              <h3>{{ room_detail.title }} Chat Room</h3>
              <div class="d-flex align-items-center">
                <span class="pe-1 text-danger fw-bold" id="id_connected_users">2</span>
                <i class="fa-solid fa-user text-primary"></i>
                
              </div>
            </div>
          </div>
          <div class="chat-log">
            <p>dsskkskksksss This group, we will discuss everything that partains to Fashions.
              Everybody will This group, we will discuss everything that partains to Fashions.
              Everybody will This group, we will discuss everything that partains to Fashions.
              Everybody will This group, we will discuss everything that partains to Fashions.
              Everybody will This group, we will discuss everything that partains to Fashions.
              Everybody will This group, we will discuss everything that partains to Fashions.
              Everybody will </p>
          </div>
          <div class="card w-100">
            <div class="d-flex align-items-center">
              <textarea name="" id="msg-input" cols="10" rows="2" class="w-100"></textarea>
              <input type="submit" class="btn btn-primary h-100" value="Send" id="send-btn">
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-3">
        <div class="card">
            <h1>hello</h1>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var sendBtn = document.getElementById("send-btn")
      
      // Correctly decide between ws:// and wss://
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      {% if debug_mode %}
        var ws_path = ws_scheme + '://' + window.location.host + "/group_chat/{{room_id}}/"; // development
      {% else %}
        var ws_path = ws_scheme + '://' + window.location.host + ":8001/group_chat/{{room_id}}/"; // production
      {% endif %}

      var group_chat_socket = new WebSocket(ws_path);

	// Handle incoming messages
	group_chat_socket.onmessage = function(message) {
      console.log(message.data)
      var data = JSON.parse(message.data);

      if (data.msg_type == 1) {
        console.log(data['connected_user_count'])
			setConnectedUsersCount(data['connected_user_count'])
		}

    // Handle getting a message
		if (data.msg_type == 0) {
      console.log(data.message)
			//appendChatMessage(data, true, true)
		}
  }

  group_chat_socket.addEventListener('open', (e) =>{
      console.log("Public Public ChatSocket OPEN")
      if("{{request.user.is_authenticated}}"){
			group_chat_socket.send(JSON.stringify({
				"command": "join",
				"room": "{{room_id}}"
			}));
		}
  })

  group_chat_socket.onclose = function(e) {
		//console.error('Public ChatSocket closed.');
	};

	group_chat_socket.onOpen = function(e){
		//console.log("Public ChatSocket onOpen", e)
	}

	group_chat_socket.onerror = function(e){
        //console.log('Public ChatSocket error', e)
    }

    if (group_chat_socket.readyState == WebSocket.OPEN) {
    	console.log("Public ChatSocket OPEN")
    } else if (group_chat_socket.readyState == WebSocket.CONNECTING){
        console.log("Public ChatSocket connecting..")
    }

    
    sendBtn.onclick = function(e){
      var msgInput = document.getElementById("msg-input")
      var message = msgInput.value
      group_chat_socket.send(JSON.stringify({
        "command": "send",
        "message": message,
        "room": "{{room_id}}"
      }))
    }

    function setConnectedUsersCount(count){
		element = document.getElementById("id_connected_users")
		element.innerHTML = count
	}

    </script>
  
{% endblock %}