{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
    <div class="row">
      <div class="col-3">
        {% include 'snippets/left-menu.html' %}
      </div>
      <div class="col-6">
        <div class="card">
          {% for i in group_list %}
            <a href="{% url 'group-detail' i.id %}">{{ i.title }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-3">
        <div class="card">
            <h1>hello</h1>
        </div>
      </div>
    </div>
  
{% endblock %}