body {
  display: block;
  position: relative;
}

.anch {
  text-decoration: none;
  cursor: pointer;
  background-color: green;
}

.anch i {
  color: blue;
}

.anch span {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

#myheader {
  position: relative;
  width: 100%;
}

.drop1 {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: white;
  top: 50px;
  z-index: 100;
  border-radius: 5px;
  right: 0;
  text-align: center;
  padding: 10px;
  display: none;
}

.drop1 a {
  background-color: blue;
  color: white;
}

.drop1 a:hover {
  background-color: blue;
  color: white;
}

.notifi {
  width: 300px;
  height: 400px;
  position: absolute;
  background-color: white;
  top: 50px;
  z-index: 100;
  border-radius: 5px;
  right: 0;
  text-align: center;
  padding: 10px;
  display: none;
}

#mybadge {
  background-color: red;
  position: absolute;
  border-radius: 100%;
  font-size: 10px;
  width: 15px;
  height: 15px;
  color: white;
  top: 10px;
  right: 30;
  display: none;
  font-weight: bold;
  text-align: center;
}

#mybadgechat{
  background-color: red;
  position: absolute;
  border-radius: 100%;
  font-size: 9px;
  width: 15px;
  height: 15px;
  color: white;
  top: 10px;
  right: 30;
  display: none;
  font-weight: bold;
  text-align: center;
}

.top-navbar {
  background-color: rgb(1, 1, 41);
}

.menu-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-left a{
  text-decoration: none;
}

.third-menu {
  display: none;
}

.sidebar .sidebar-menu-container {
  display: none;
}

.sidebar .home-cancel {
  display: none;
}

@media (max-width: 1050px) {
  .left-notification-container {
    border: 4px solid blue;
    display: none;
  }

  .right-notification-container {
    border: 4px solid blue;
    display: none;
  }

  .left-message-contianer {
    border: 4px solid blue;
    display: none;
  }

  .left-profile-container{
    display: none;
  }

  .right-profile-container{
    display: none;
  }

  .left-group-container{
    display: none;
  }

  .right-group-container{
    display: none;
  }
}

@media (max-width: 992px) {
  .right-message-container {
    border: 4px solid blue;
    display: none;
  }

  #myheader {
    position: relative;
    margin-right: 0;
    max-width: 992px;
  }
}

@media (max-width: 834px) {
  .menu-left {
    display: none;
  }

  #myheader {
    position: relative;
    margin-right: 0;
    display: flex;
  }

  .third-menu {
    display: block;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .sidebar {
    position: fixed;
    z-index: 1050;
    background-color: red;
    height: 400px;
    width: 0px;
    right: 0;
    top: 0;
    transition: all 0.5s ease;
  }

  .sidebar .sidebar-menu-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    height: 90%;
  }

  .menu-notification{
    background-color: white;
    display: none;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    font-size: 10px;
    color: red;
    padding: 2px;
    
  }


 
  .sidebar-menu-content .icon-text {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 10px;
  
  }

  .sidebar .home-cancel {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }

  .sidebar.active {
    width: 200px;
    transition: all 0.5s ease;
  }

  .sidebar i {
    cursor: pointer;
  }
}

@keyframes panel {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}
