

<script>
     const addPhotoBtn = document.querySelector('#addphotoBtn')
    const photoBtn = document.querySelector('#photoBtn')
    const photoid = document.querySelector('#photoid')
    const cancelBtn = document.querySelector('#cancelBtn')
    const postBtn = document.querySelector('#postbtnid')
    const postInput = document.querySelector('#postinputid')
    



// <!------------ Script to add post photo view Button --------------->

    const photoViewButton = (e) =>{
        e.preventDefault()
        photoBtn.style.display = "block"
    }
    addPhotoBtn.addEventListener('click', photoViewButton)
    photoid.addEventListener('click', photoViewButton)

//<----------------- END ---------------------------------------->     
    

// <!------------ Script to remove post photo view Button -------------->

    cancelBtn.addEventListener('click', (e) =>{
        e.preventDefault()
        photoBtn.style.display = "none"
        //addPhotoBtn.removeEventListener(true)
    })

// <----------------- END ---------------------------------------->



// <-------------- Script to create a post ----------------------->


function getCookie(name){
    if(!document.cookie){
        return null
    }
    const xsrfCookies = document.cookie.split(';').map(c => c.trim()).filter(c => c.startsWith(name + '='));
    if(xsrfCookies.length === 0){
        return null
    }
    return decodeURIComponent(xsrfCookies[0].split('=')[1])
}

postBtn.addEventListener('click', (e) =>{
    e.preventDefault()
    var inputPostValue = postInput.value.trim()
    const csrfToken = getCookie('CSRF-TOKEN')
    console.log(csrfToken)
    const headers = new Headers({
        'Content-Type': 'x-www-form-urlencoded',
        'X-CSRF-TOKEN': csrfToken
    })
    fetch(`${url}/create-post/`, {
        body: JSON.stringify({
            inputPostValue: inputPostValue
        }),
        headers,
        method: 'POST',
        
    }).then((res) => res.json()).then((data) =>{
        console.log(data)
    })

    //window.location.reload()
  
})


// Enabling and disablng button
postInput.addEventListener('keyup', (e) =>{
    e.preventDefault()
    
    if(e.target.value.length > 0){
        postBtn.removeAttribute('disabled')
    }else{
        postBtn.setAttribute('disabled', 'disabled')
    }
})


// <------------------- END -------------------------------------->


</script>




