<div class="card">
    <ul class="list-group">
        <li class="list-group-item menuhover active1">
            <a href="{% url 'index' %}" class="anch">
                <i class="fa-solid fa-house me-3"></i>
          <span>Home</span>
            </a>
          
        </li>

        <li class="list-group-item menuhover">
            <a href="{% url 'friend-index' %}" class="anch">
                <i class="fa-solid fa-user-group me-3"></i>
                <span>Friends</span>
            </a>
           
        </li>

        <li class="list-group-item menuhover">
            <a href="{% url 'notification-index' %}" class="anch">
                <i class="fa-solid fa-bell me-3"></i>
          <span>Notification</span>
            </a>
            
        </li>
        <li class="list-group-item menuhover">
            <a href="{% url 'profile-index' %}" class="anch">
                <i class="fa-solid fa-user me-3"></i>
          <span>Profile</span>
            </a>
            
        </li>

        <li class="list-group-item menuhover">
            <a href="{% url 'message-index' %}" class="anch">
                <i class="fa-solid fa-message me-3"></i>
          <span>Message</span>
            </a>
            
        </li>
      </ul>
</div>

<script>
    const menuHover = document.querySelectorAll('.menuhover')
    menuHover.forEach(men=> men.addEventListener('click', (e) =>{
        if(men.className === "active1"){
            men.classList.remove('active1')
        }else{
            men.classList.add('active1')
        }
    }))
</script>



