{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
    <div class="row">
      <div class="col-3">
        {% include 'snippets/left-menu.html' %}
      </div>
      <div class="col-6">
        <div class="card card-post">
            <div class="d-flex flex-row align-items-left">
              <img class="profile-pic" src="{{ request.user.profile_image.url }}" alt="" srcset="">
              <input type="submit" value="What's on your mind {{ request.user.username }}">
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
            <h1>hello</h1>
        </div>
      </div>
    </div>
  
{% endblock %}