{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
    <div class="row">
      <div class="col-3 text-center">
        <div class="card">
            <ul class="list-group">
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                  <label class="form-check-label" for="firstCheckbox">First checkbox</label>
                </li>
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                  <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
                </li>
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                  <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
                </li>
              </ul>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
            <h1>hello</h1>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
            <h1>hello</h1>
        </div>
      </div>
    </div>
  
{% endblock %}