{% extends 'base.html' %}

{% block title %}Friend{% endblock %}

{% load static %}

{% block content %}
<br>
    <div class="row">
      <div class="col-3">
        {% include 'snippets/left-menu.html' %}
      </div>
      <div class="col-9">
        <div class="row">
            <div class="d-flex justify-content-between">
              <h2>Friends</h2>
              <a href="#">See all</a>
            </div>
        </div>
        <div class="row pb-2">
          {% for account in accounts %}
          <div class="col-3">
            <div class="card">
              <div class="all-friend">
                <img src="{{ account.0.profile_image.url }}" alt="" srcset="">
                <div class="user-detail">
                  <h5>{{ account.0.username }}</h5>
                  
                  {% if account.1 %}
                  <p>6 mutual friends</p>
                  {% else %}
                  <Button class="btn btn-primary w-100 mb-2">Comfirm</Button>
                  <br>
                  <button class="btn btn-secondary w-100">Delete</button>
                  {% endif %}
                </div>
              </div>
            </div>
            
          </div>
          {% endfor %}
          
         
        </div>
      </div>
     
    </div>
  
{% endblock %}